body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

h1,
.photograph-info h2 {
    color: #901c1c;
}

h1 {
    margin-right: 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

img {
    object-fit: cover;
}
