@import url("photographer.css");
@import url("index.css");

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px;
    margin: 100px;
}

.photographer_section article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article a {
    text-decoration: none;
    color: inherit;
}

.photographer_section article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}

.photographer_section article h2 {
    font-size: 36px;
    margin: 15px 0;
}

.photographer_section article .location {
    color: #901c1c;
    font-size: 13px;
    margin: 5px 0;
}

.photographer_section article .tagline {
    font-size: 10px;
    margin: 5px 0;
}

.photographer_section article .price {
    color: #757575;
    font-size: 9px;
    margin: 5px 0;
}
